.nav {
	.open {
		>a {
			background-color: transparent;

			&:hover {
				background-color: transparent;
			}

			&:focus {
				background-color: transparent;
			}
		}
	}
}

.toggled {
	-moz-transition   : all 0.5s ease;
	-o-transition     : all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	padding-left      : 0;
	transition        : all 0.5s ease;
	width             : 60px;
}

.toggled.open {
	width: 240px;

	#sidebar-wrapper {
		width: 240px;
	}

	#page-content-wrapper {
		margin-right: -240px;
		position    : absolute;
	}

	.hamburger {
		// margin-left          : -40px;
		position             : fixed;
		background           : transparent;
		-webkit-border-radius: 0 4px 4px 0px;
		-moz-border-radius   : 0 4px 4px 0px;
		border-radius        : 0 4px 4px 0px;
		box-shadow           : none;
	}
}

#sidebar-wrapper {
	-moz-transition      : all 0.5s ease;
	-o-transition        : all 0.5s ease;
	-webkit-transition   : all 0.5s ease;
	background           : transparent;
	height               : 100%;
	// left              : 240px;
	// margin-left       : -240px;
	overflow-x           : hidden;
	overflow-y           : auto;
	transition           : all 0.5s ease;
	width                : 60px;
	z-index              : 9999;

	&::-webkit-scrollbar {
		display: none;
	}
}

.toggled {
	.sidebar-nav {
		width: 240px;
	}
}

.sidebar-nav {
	list-style   : none;
	margin       : 60px 0 0 0 !important;
	padding      : 0;
	position     : absolute;
	top          : 0;
	width        : 0px;
	border-top   : 0px solid #eee;
	border-bottom: 0;

	li {
		display    : inline-block;
		line-height: 20px;
		position   : relative;
		width      : 100%;

		a {
			color          : #222;
			display        : block;
			padding        : 15px 15px 15px 15px;
			text-decoration: none;
			text-transform : capitalize;
			font-size      : 15px;
			text-align     : left;
			margin         : 0;

			&:hover {
				background-color: #222;
				color           : #FFFFFF;
				text-decoration : none;
			}

			&:active {
				background-color: #222;
				color           : #FFFFFF;
				text-decoration : none;
			}

			&:focus {
				background-color: #222;
				color           : #FFFFFF;
				text-decoration : none;
			}
		}

		&:hover {
			a {
				color: #fff;
			}
		}

		>ul {
			>li {
				padding-left: 15px;

				&:hover {
					&:before {
						opacity: 0.9;
					}
				}
			}
		}
	}

	li.open {
		&:hover {
			&:before {
				-webkit-transition: width 0.2s ease-in;
				transition        : width 0.2s ease-in;
				width             : 100%;
			}
		}

		a {
			&:hover {
				background-color: #222;
				color           : #FFFFFF;
				text-decoration : none;
			}

			&:active {
				background-color: #222;
				color           : #FFFFFF;
				text-decoration : none;
			}

			&:focus {
				background-color: #222;
				color           : #FFFFFF;
				text-decoration : none;
			}
		}
	}

	.dropdown-menu {
		background-color: #222222;
		border-radius   : 0;
		border          : none;
		box-shadow      : none;
		margin          : 0;
		padding         : 0;
		position        : relative;
		width           : 100%;
	}

	>.sidebar-brand {
		font-size  : 20px;
		height     : 65px;
		line-height: 44px;
	}
}

.hamburger {
	background           : transparent !important;
	border               : none;
	display              : block;
	height               : 36px;
	width                : 45px;
	float                : left;
	margin               : 0px 0 0 5px;
	top                  : 0px;
	z-index              : 9999;
	-webkit-border-radius: 4px;
	-moz-border-radius   : 4px;
	border-radius        : 4px;
	box-shadow           : none;

	&:hover {
		outline: none;
	}

	&:focus {
		outline: none;
	}

	&:active {
		outline: none;
	}
}

.hamburger.is-closed {
	&:before {
		-webkit-transform : translate3d(0, 0, 0);
		-webkit-transition: all 0.35s ease-in-out;
		color             : #ffffff;
		content           : '';
		display           : block;
		font-size         : 14px;
		line-height       : 32px;
		opacity           : 0;
		text-align        : center;
		width             : 100px;
	}

	&:hover {
		before {
			-webkit-transform : translate3d(-100px, 0, 0);
			-webkit-transition: all 0.35s ease-in-out;
			display           : block;
			opacity           : 1;
		}

		.hamb-top {
			-webkit-transition: all 0.35s ease-in-out;
			-moz-transition   : all 0.35s ease-in-out;
			-o-transition     : all 0.35s ease-in-out;
			transition        : all 0.35s ease-in-out;
			top               : 7px;
		}

		.hamb-bottom {
			-webkit-transition: all 0.35s ease-in-out;
			-moz-transition   : all 0.35s ease-in-out;
			-o-transition     : all 0.35s ease-in-out;
			transition        : all 0.35s ease-in-out;
			bottom            : 8px;
		}
	}

	.hamb-top {
		-webkit-transition: all 0.35s ease-in-out;
		-moz-transition   : all 0.35s ease-in-out;
		-o-transition     : all 0.35s ease-in-out;
		transition        : all 0.35s ease-in-out;
		background-color  : $brand-primary;
		top               : 9px;
		height            : 2px;
		left              : 11px;
		position          : absolute;
		width             : 24px;
	}

	.hamb-middle {
		background-color: $brand-primary;
		margin-top      : -2px;
		top             : 50%;
		height          : 2px;
		left            : 11px;
		position        : absolute;
		width           : 24px;
	}

	.hamb-bottom {
		-webkit-transition: all 0.35s ease-in-out;
		-moz-transition   : all 0.35s ease-in-out;
		-o-transition     : all 0.35s ease-in-out;
		transition        : all 0.35s ease-in-out;
		background-color  : $brand-primary;
		bottom            : 10px;
		height            : 2px;
		left              : 11px;
		position          : absolute;
		width             : 24px;
	}
}

.hamburger.is-open {
	.hamb-top {
		height            : 2px;
		left              : 11px;
		position          : absolute;
		width             : 24px;
		width             : 16px;
		transform         : rotate(45deg);
		-ms-transform     : rotate(45deg);
		-moz-transform    : rotate(45deg);
		-webkit-transform : rotate(45deg);
		-o-transform      : rotate(45deg);
		-webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
		-moz-transition   : -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
		-o-transition     : -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
		transition        : -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
		background-color  : #fff;
		margin-top        : -2px;
		top               : 50%;
	}

	.hamb-middle {
		height          : 2px;
		left            : 11px;
		position        : absolute;
		width           : 24px;
		width           : 16px;
		background-color: #fff;
		display         : none;
	}

	.hamb-bottom {
		height            : 2px;
		left              : 11px;
		position          : absolute;
		width             : 24px;
		width             : 16px;
		transform         : rotate(-45deg);
		-ms-transform     : rotate(-45deg);
		-moz-transform    : rotate(-45deg);
		-webkit-transform : rotate(-45deg);
		-o-transform      : rotate(-45deg);
		-webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
		-moz-transition   : -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
		-o-transition     : -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
		transition        : -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
		background-color  : #fff;
		margin-top        : -2px;
		top               : 50%;
	}

	&:before {
		-webkit-transform : translate3d(0, 0, 0);
		-webkit-transition: all 0.35s ease-in-out;
		color             : #ffffff;
		content           : '';
		display           : block;
		font-size         : 14px;
		line-height       : 32px;
		opacity           : 0;
		text-align        : center;
		width             : 100px;
	}

	&:hover {
		before {
			-webkit-transform : translate3d(-100px, 0, 0);
			-webkit-transition: all 0.35s ease-in-out;
			display           : block;
			opacity           : 1;
		}
	}
}

.overlay {
	background-color: rgba(0, 0, 0, 0.4);
	bottom          : 0;
	display         : none;
	height          : 100%;
	left            : 0;
	position        : fixed;
	right           : 0;
	top             : 0;
	width           : 100%;
	z-index         : 1;
}

body.intro {
	overflow  : hidden;
	overflow-y: auto;
}