.clsMainPage {
  @include pad($header-size, null, null, null);
}

.clsAdminPage {
  margin-bottom: 0px;

  .clsLeftSide {
    background     : $grad-brand-info;
    width          : 50%;
    height         : 100vh;
    float          : left;
    position       : relative;
    text-align     : center;
    display        : flex;
    align-items    : center;
    justify-content: center;

    .clsImgBlock {
      img {
        margin : 0 auto 40px;
        display: $b;
      }
    }
  }

  .clsRightSide {
    background     : $white;
    width          : 50%;
    height         : 100vh;
    float          : right;
    display        : flex;
    align-items    : center;
    justify-content: center;
  }

  .clsFormBlock {

    form {
      max-width: 380px;
      margin   : 0 auto;
    }

    #newpin_generate,
    #update_pin {
      &.arrow-animate {
        &:after {
          right: 33%;
        }
      }
    }
  }

  .clsUserSelect {
    .clsInner {
      @include pad(15px, 15px, 15px, 15px);
      @include radius(10px);
      box-shadow: 0 0 6px 0 rgb(53 44 66 / 34%);
      text-align: center;
      overflow  : hidden;
      transition: all 0.5s;

      a,
      span {
        display: $b;
      }

      img {
        width : 100px;
        margin: 0 auto 20px;
      }

      &:hover,
      &:focus,
      &:active {
        transform: scale(1.05);
      }
    }
  }
}

.clsDashboard {
  margin-bottom: 0px;

  .clsLeftNav {
    background   : $grad-brand-info;
    // width     : 230px;
    height       : 100%;
    float        : left;
    position     : fixed;

    .navbar {
      position: static;
      overflow: hidden;
      display : $b;
    }

    .navbar-nav {
      float: none;
      width: 100%;

      li {
        float: none;

        a {
          display: block;
          @include font-source($base-size, $white, 600, 1.48, normal);
          @include pad(10px, 10px, 10px, 10px);
          position  : relative;
          background: transparent;

          &:hover,
          &:focus,
          &:active,
          &.active {
            background: transparent;
            color     : $black;
          }

          span {
            padding-left: 10px;
            display     : $ib;
          }

          i {
            font-size: $base-size + 4;
          }
        }


        .show {

          &.dropdown-menu {
            background  : $brand-info-dark;
            position    : static;
            width       : 100%;
            float       : none;
            padding-left: 25px;
            border      : 0px;

            li {
              margin-bottom: 1px;

              a {
                background: transparent;

                &:hover,
                &:focus,
                &:active {
                  background: transparent;
                }
              }
            }
          }
        }
      }
    }

    .navbar-header {
      float: none;
    }

    .navbar-brand {
      float  : none;
      display: $b;
      @include size(100%, 90px);
      @include header($sm-size, $white, 600, 1.48, normal);
      margin-bottom: 10px;


      >img {
        display: $b;
        margin : 0 auto;

        &.clsOpen {
          width: 200px;
        }

        &.clsClose {
          width      : 40px;
          margin-left: -7px;
        }
      }
    }

    .navbar-collapse {
      padding: 0;
    }

    .clsMenuList {
      overflow: auto;
      height  : calc(100vh - 250px);
    }

    .clsChangePwd {
      @include absolute(bottom 10px left 0px);
      padding-left: 15px;

      li {

        &:first-child {
          a {
            margin-bottom: 10px;

            &:after {
              content: '';
              display: $b;
              height : 1px;
              @include absolute(left 10px right 0px bottom -4px);
              background: $dropdown-border;
            }
          }
        }
      }
    }

    &.toggled {
      .navbar-brand>img {
        &.clsOpen {
          display: none;
        }

        &.clsClose {
          display: block;
        }
      }

      .hamburger {
        margin-left: 55px;
      }

      .navbar-nav {
        li {
          a {
            text-align: center;

            span {
              display: none;
            }

            &.dropdown-toggle::after {
              display: none;
            }
          }
        }
      }

      &.open {
        .navbar-brand>img {
          &.clsOpen {
            display: $b;
          }

          &.clsClose {
            display: none;
          }
        }

        .hamburger {
          margin-left: 200px;
        }

        .navbar-nav {
          li {
            a {
              text-align: left;

              span {
                display: $ib;
              }

              &.dropdown-toggle::after {
                display: $ib;
              }
            }
          }
        }
      }
    }

  }

  .clsRightBlock {
    width: calc(100% - 240px);
    @include pad(20px, 20px, null, 20px);
    float : right;
    height: 100vh;

    &.clsWidth-90 {
      width: calc(100% - 60px);
    }
  }
}

.clsDataValue {
  .clsInner {
    @include pad(15px, 25px, 15px, 25px);
    background: $color-4;
    @include radius(29px);
    min-height: 180px;
    box-shadow: 0 3px 8px 0 rgba(16, 40, 75, 0.16);

    h2 {
      color: $white;
    }
  }

  .clsBor-right {
    position: relative;

    &:after {
      content: '';
      display: $b;
      @include absolute(top 0px right 0px);
      @include size(1px, 100%);
      background: $white;
      opacity   : 0.3;
    }
  }
}

.clsAction {
  ul {
    li {
      display       : $ib;
      vertical-align: top;
      margin-right  : 15px;

      a {
        display: $b;
      }

      &:last-child {
        margin-right: 0px;
      }
    }
  }
}

.clsRound-100 {
  @include radius(100%);
}

.cur-poin {
  cursor: pointer;
}

// Table Actions Styles Start

.tableActionBtns {
  width   : 50px;
  position: relative;

  .actionBtnQa {
    position  : absolute;
    text-align: right;
    top       : -6px;
    right     : 20px;
    z-index   : 99;

    .btn {
      &.addBtnsNew {
        width             : 34px;
        height            : 34px;
        line-height       : 1;
        border-radius     : 50%;
        font-size         : 34px;
        padding           : 0;
        text-align        : center;
        font-weight       : 400;
        line-height       : 34px;
        min-width         : inherit;
        -webkit-transition: -webkit-transform 0.3s linear 0s;
        transition        : -webkit-transform 0.3s linear 0s;
        transition        : transform 0.3s linear 0s;
        transition        : transform 0.3s linear 0s, -webkit-transform 0.3s linear 0s;

        &.addNew1,
        &.addNew2,
        &.addNew3,
        &.addNew4 {
          position  : relative;
          z-index   : 2;
          height    : 0;
          width     : 0;
          overflow  : hidden;
          box-shadow: none;
          outline   : none;
        }

        span,
        a {
          display: block;
          width  : 100%;
          height : 100%;
        }

        svg {
          width     : 16px;
          height    : 16px;
          margin-top: 0px;
          fill      : #22273E;
          position  : relative;
          top       : -18px !important;

          path {
            fill: #22273E;
          }
        }
      }

      &.transparantDotBtn {
        background-color: transparent;

        svg {
          fill: $brand-info-dark;
        }
      }

      &.clsFontIcon {
        font-size  : 14px;
        line-height: 34px;

        .fa {
          color: $white;
        }
      }
    }

    .defultIconSetPerson {
      width  : 34px;
      height : 34px;
      display: inline-block;

      .afterHover {
        display: none;
      }

      &:hover {
        .afterHover {
          display: inline-block;
        }

        .btn {
          &.addBtnsNew {
            opacity     : 1;
            margin-right: 0;
            margin-left : 10px;
            width       : 34px;
            height      : 34px;
            overflow    : inherit;
            min-width   : inherit;
            background  : $brand-info !important;
            border      : 1px solid $brand-info !important;

            &[disabled] {
              background: $brand-info !important;
              cursor    : not-allowed;
            }

            &.addNew1,
            &addNew2 {
              -webkit-animation: bounceAnimation 0.54s ease;
              animation        : bounceAnimation 0.54s ease;
            }

            &:first-child {
              margin-left: 0px;
            }
          }
        }

        .beforeHover {
          display: none;
        }
      }
    }

    &:hover {
      width: 250px;
      top  : 8px;

      .defultIconSetPerson {
        width: 250px !important;
      }
    }
  }
}

.defultIconSetPerson:hover {
  .btn.addBtnsNew {
    opacity         : 1;
    margin-right    : 0;
    margin-left     : 1px;
    width           : 38px;
    height          : 38px;
    overflow        : inherit;
    border          : 0;
    color           : #333;
    background-color: $brand-primary !important;

    &:focus {
      box-shadow: 0 0 1px 3px rgba(38, 143, 255, 0.5) !important;
    }

    &.addNew1,
    &.addNew2,
    &.addNew3,
    &.addNew4,
    &.addNew5 {
      animation: bounceAnimation 0.54s ease;

      &.afterHover {
        animation: none;
      }
    }
  }

  .afterHover {
    display: inline-block;
  }

  .beforeHover {
    display: none;
  }
}

@keyframes bounceAnimation {
  0% {
    transform: translateX(20px);
  }

  50% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0px);
  }
}

.table {
  tbody {
    tr {
      &:first-child {
        .tableActionBtns .actionBtnQa .btn.addBtnsNew svg {
          margin-top: 20px;
        }
      }
    }
  }
}

// Table Actions Styles End

.rightFilterSet {
  position: relative;
}

.f-right {
  float: right;
}

.filterBtn {
  border-radius     : 2px;
  font-size         : 12px;
  height            : 34px;
  padding           : 10px;
  -webkit-transition: all .3s;
  transition        : all .3s;
  background-color  : $brand-info-lite;
  border            : solid 1px $brand-info;
  display           : -webkit-box;
  display           : -ms-flexbox;
  display           : flex;
  -webkit-box-pack  : start;
  -ms-flex-pack     : start;
  justify-content   : flex-start;
}

.filterContainer {
  position          : absolute;
  top               : 100%;
  right             : 0;
  min-width         : 300px;
  background-color  : $white;
  z-index           : 999;
  height            : 0;
  overflow          : hidden;
  -webkit-transform : translateY(20px);
  transform         : translateY(20px);
  -webkit-transition: all 0.3s linear 0s;
  transition        : all 0.3s linear 0s;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  box-shadow        : 0px 0px 15px 0px rgba(0, 0, 0, 0.2);

  &.active {
    height           : auto;
    max-height       : 500px;
    overflow-y       : auto;
    -webkit-transform: translateY(0px);
    transform        : translateY(0px);
    border           : solid 1px #ddd;
  }

  .filterTitle {
    width           : 100%;
    padding         : 15px;
    background-color: #f5f5f5;
    border-bottom   : solid 1px #ddd;

    p {
      font-size  : 15px;
      font-weight: 600;
      color      : $gray-base;
      margin     : 0;
      line-height: 1;
    }
  }

  .fiterBody {
    width  : 100%;
    padding: 15px !important;

    .filterElament {
      padding      : 15px 0;
      border-bottom: solid 1px #ddd;

      .filterLabel {
        font-size  : 13px;
        color      : $gray-base;
        font-weight: 700;
        margin     : 0;
      }
    }
  }
}